{% extends "_common.njk" %}

{% block content %}
<h2 class="team">Meet the team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="./img/member1.jpg" alt="Ailurus ASKVOLL" style="width:100%">
      <div class="container-gallery">
        <h2>Ailurus ASKVOLL</h2>
        <p class="title">CEO &amp; Founder</p>
        <p>I'm proud to be the Innovation.io CEO. Innovation.io is my baby...</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./img/member2.jpg" alt="Monkey BJÖRKSNÄS" style="width:100%">
      <div class="container-gallery">
        <h2>Monkey BJÖRKSNÄS</h2>
        <p class="title">Co Founder &amp; Financial Director </p>
        <p>Business Financial IT Solutions is my life!</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./img/member3.jpg" alt="Tiger LÅNGFJÄLL" style="width:100%">
      <div class="container-gallery">
        <h2>Tiger LÅNGFJÄLL</h2>
        <p class="title">Technical Coordinator &amp; Lead Developer</p>
        <p>Hear me roar!</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="./img/member4.jpg" alt="Jane" style="width:100%">
      <div class="container-gallery">
        <h2>Penguin ALEFJÄLL</h2>
        <p class="title">Full Stack Developer &amp; Linux Operator</p>
        <p>Windows sucks!</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./img/member5.jpg" alt="Mike" style="width:100%">
      <div class="container-gallery">
        <h2>Giraffe IDÅSEN</h2>
        <p class="title">Art Director</p>
        <p>Digital Art is the mirror of the unconscious!</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./img/member6.jpg" alt="John" style="width:100%">
      <div class="container-gallery">
        <h2>Mouse KONGSFJORD</h2>
        <p class="title">Designer</p>
        <p>I think there isn't any incubation without decubation. By the way art is a mix of the two...</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="./img/member7.jpg" alt="Jane" style="width:100%">
      <div class="container-gallery">
        <h2>Kitten DRÖNA</h2>
        <p class="title">Trainee</p>
        <p>So glad to be at Innovation.io...</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
